<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<nz-layout>
    <nz-header>
      <div class="logo"></div> 
      <ul nz-menu nzTheme="dark" nzMode="horizontal">
        <li nz-menu-item>Sección</li>                  
        <li nz-menu-item>Catálogo</li>
        <li nz-menu-item> <i nz-icon nzType="user" nzTheme="outline"></i> Iniciar Sesion </li>
        <li nz-menu-item><i nz-icon nzType="shopping-cart" nzTheme="outline"></i>
            <span> {{ number }}</span></li>
    </ul>
    </nz-header>
    <nz-content>
      <div class="inner-content">
          <app-lista-libro></app-lista-libro>
      </div>
    </nz-content>
    <nz-footer>©2022 TheBookStore Todos los derechos reservados</nz-footer>
  </nz-layout>
