<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<nz-layout>
    <nz-header>
      <div class="logo"></div> 
      <ul nz-menu nzTheme="dark" nzMode="horizontal" >
        <li [routerLink]="['/catalogo']"  rel="no-refresh" nz-menu-item>Catálogo</li>
        <li [routerLink]="['/login']" rel="no-refresh" nz-menu-item> <i nz-icon nzType="user" nzTheme="outline"></i> Iniciar Sesion </li>
        <li [routerLink]="['/cart']" nz-menu-item><i nz-icon nzType="shopping-cart" nzTheme="outline"></i>
          <span> {{ number }}</span></li>
          <li  [routerLink]="['/contact']"  rel="no-refresh" nz-menu-item>Contacto</li>                  
    </ul>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
     <nz-footer>©2022 TheBookStore Todos los derechos reservados</nz-footer> 
  </nz-layout>
