  <div class="container" id="container">
    <div class="form-container sign-up-container">
      <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
        <h1>Registrarse</h1>
        <span>Ingrese sus datos</span>
        <nz-form-item  class="form-item">
          <nz-form-control  nzErrorTip="No es un E-mail valido!">
            <input nz-input formControlName="email" id="email"  autocomplete="off" placeholder="Correo" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item class="form-item">
          <nz-form-control nz-Col nzSpan="24" nzErrorTip="No es una contraseña valida!">
            <input
              nz-input
              type="password"
              id="password"
              placeholder="Contraseña"
              autocomplete="off" 
              formControlName="password"
              
              (ngModelChange)="updateConfirmValidator()"
            />
          </nz-form-control>
        </nz-form-item >
        <nz-form-item class="form-item" >
        <nz-form-control  [nzErrorTip]="errorTpl">
            <input nz-input type="password" formControlName="checkPassword" autocomplete="off"  id="checkPassword" placeholder="Confirmar contraseña"/>
            <ng-template #errorTpl let-control>
              <ng-container *ngIf="control.hasError('required')">Porfavor confirme tu contraseña!</ng-container>
              <ng-container *ngIf="control.hasError('confirm')">
                Las contraseñas no coinciden!
              </ng-container>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item  class="form-item">
         
          <nz-form-control  nzErrorTip="Porfavor ingresa tu nombre de usuario!">
            <input nz-input id="nickname" formControlName="nickname"  autocomplete="off" placeholder="Usuario"/>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item >
          <nz-form-control >
            <button  class="signup-form-button signup-form-margin" >Registrarse</button>
           
          </nz-form-control>
        </nz-form-item>
    </form>
  
    </div>

    <div class="overlay-container">
      <div class="overlay">
        <div class="overlay-panel overlay-left">
          <h1 class="titulo2">¿Sabías que?</h1>
          <p>La novela más larga es “In the Realms of the Unreal” (En los reinos de lo irreal, en español) es el título de la novela más larga y fue escrita e ilustrada por Henry Darger. Demoró siete años en completar sus 15,145 páginas y fue distribuida en 15 inmensos volúmenes.</p>
          <button [routerLink]="['/login']" rel="no-refresh" class="registrate" class="ghost" id="signIn" >Iniciar Sesión</button>
     
        </div>
        
      </div>
    </div>

  </div>
  