<div class="container">
    <div class="row">
        <div class="col-md-12">
            <input type="text" class="form-control"  [(ngModel)]="filteredString" placeholder="Busca por Título, Autor, ISBN, Género"/>
        </div>
    </div>
</div>

<div class="columnas"  nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
    <ul *ngFor="let libro of libros | filter:filteredString | paginate: { itemsPerPage: 12, currentPage: pagina }">
        <div nz-col class="gutter-row" [nzSpan]="6"><div class="inner-box"></div><app-libro [libro]="libro"></app-libro></div>
        
    </ul>
</div>


<div class="pagination">
    <pagination-controls (pageChange)="pagina = $event" previousLabel="Anterior"
nextLabel="Siguiente"></pagination-controls>
</div>    